body {
  padding-top: 3rem;
}

.columns {
  height: 150px;
  border: 1px solid black;
}

.square {
   cursor: pointer;
   transition: 0.5s;
}

.color1 {
  background-color: #66C5FF;
}

.color2 {
  background-color: #003cba;
}

.color3 {
  background-color: #d5ebff;
}

.color4 {
  background-color: #636363;
}
